/*---
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*--- reset code ---*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
	display: block;
}
ol,ul {
	list-style:none;
	margin:0px;
	padding:0px;
}
blockquote,q {
	quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}

/* start editing from here */
a {
	text-decoration:none;
}
.txt-rt {
	text-align:right;
}/* text align right */
.txt-lt {
	text-align:left;
}/* text align left */
.txt-center {
	text-align:center;
}/* text align center */
.float-rt {
	float:right;
}/* float right */
.float-lt {
	float:left;
}/* float left */
.clear {
	clear:both;
}/* clear float */
.pos-relative {
	position:relative;
}/* Position Relative */
.pos-absolute {
	position:absolute;
}/* Position Absolute */
.vertical-base {	
	vertical-align:baseline;
}/* vertical align baseline */
.vertical-top {	
	vertical-align:top;
}/* vertical align top */
nav.vertical ul li {	
	display:block;
}/* vertical menu */
nav.horizontal ul li {	
	display: inline-block;
}/* horizontal menu */
img {
	max-width:100%;
}

/*--- end reset code ---*/

body {
	margin:0;
	padding:0;
}
.content {
	background-color:#edf2f5;
	height: auto;
	margin:5% auto;
	width:60%;
}
.content1 {
	padding:0;
	width:100%;
	margin:0 auto;
	background-color:#7bc242;
}
.content1-1{
	float:left;
	width:25%;
}
.content1-1 p {
	font-size:16px;
	font-weight:900;
	width:102%;
	color:#fff;
	font-family: 'Poiret One', cursive;
}
.viewcart {
	float:left;	
	text-align:center;
	background-color:#53a310;
	padding: 32px;
    border-bottom: 1px solid #fff;
}
.viewcart:hover {
	background-color:#31610A;
}
.checkout {
	float:left;
	text-align:center;
	background-color:#53a310;
	padding: 33px 27px 35px;
}
.checkout:hover {
	background-color:#31610A;
}
.content1-2{
	float:left;
}
.content-header{
	text-align:center;
}
.content-header h1{
	font-size:40px;
	line-height:25px;
	font-weight:600;
	color:#DFF3CF;
	text-transform:uppercase;
	font-family: 'Righteous', cursive;
	padding:108px;
}
.content2 {
	width:100%;
	margin:0 auto;
}
.line1 {
	text-align:center;
	border-bottom:1px solid #ACB4B9;
	margin:0 auto;
}
.line1 h2 {
    padding: 15px;
    font-size: 27px;
    font-weight: 600;
	color:#50626D;
	text-transform:uppercase;
	font-family: 'Poiret One', cursive;
}
.line2 {
	width:100%;
	margin:0 auto;
	position:relative;
	border-bottom:1px solid #ACB4B9;
}
.line3 {
	width:100%;
	margin:0 auto;
	position:relative;
	border-bottom:1px solid #ACB4B9;
}
.line4 {
	width:100%;
	margin:0 auto;
	position:relative;
	border-bottom:1px solid #ACB4B9;
}
.line-info{
	width:20%;
	text-align:center;
	float:left;
	padding:10px;
	margin-left:1%;
}
.item {
	height:50px;
	display:block;
	margin:0 auto;
}
.line-info p {
	font-size: 19px;
    font-weight: 900;
    margin: 14% auto;
    width: 140%;
	color:#50626D;
	font-family: 'Poiret One', cursive;
}
.alert-close1 img {
	display:block;
	position:absolute;
	right: 7%;
    top: 31%;
}
.alert-close1 {
	background: url(../) no-repeat 0px 0px;
    cursor: pointer;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.alert-close2 img {
	display:block;
	position:absolute;
	right: 7%;
    top: 31%;
}
.alert-close2 {
    cursor: pointer;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.alert-close3 img {
	display:block;
	position:absolute;
	right: 7%;
    top: 31%;
}
.alert-close3 {
    cursor: pointer;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.content3 {
	width:100%;
	margin:0 auto;
	text-align:center;
}
input[type="submit"] {
	font-family: 'Poiret One', cursive;
	padding:10px;
	background-color:#7bc242;
	width:40%;
	border:none;
	cursor:pointer;
	color:white;
	font-weight:bold;
	text-align:center;
	font-size:20px;
	border-radius:4px;
	outline:none;
	margin: 12% 29% 0 0;
}
input[type="submit"]:hover {
	background-color:#234002;
	color:white;
	transition:all 0.5s ease-in-out;
}
.content3 p {
	color:#50626D;
	font-size:19px;
	margin: -6% auto 0 38%;
	font-weight:bold;
	font-family: 'Poiret One', cursive;
}
.footer a, a:active {
	color:#336A6D;
	text-decoration:none;
}
.footer a:hover {
	color:#00c4ff;
	text-decoration:none;
	transition:all 0.5s ease-in-out;
}
.footer {
	margin-top:4%;
	text-align:center;
	font-family: 'Tahoma', sans-serif;
}
.footer p {
	color:#336A6D;
	font-size:16px;
	line-height:25px;
}


/*--start-responsive-design--*/
@media (max-width:1920px){
	.content-header h1 {
    padding: 108px 171px;
}
	.checkout {
    padding: 33px 27.5px 35px;
}
	input[type="submit"] {
	margin: 5% 29% 0 0;
}
	.content3 p {
    margin: -5% auto 0 38%;
}
}

@media (max-width:1680px){
	.content-header h1{
	padding: 107px 150px;
}
	input[type="submit"] {
    margin: 7% 29% 0 0;
}
}

@media (max-width:1600px){
	.content-header h1 {
    padding: 107px 145px;
}
}

@media (max-width:1440px){
	.content-header h1 {
    padding: 108px 130px;
}
	input[type="submit"] {
    margin: 10% 29% 0 0;
}
}

@media (max-width: 1366px){
	.content-header h1 {
    padding: 108px;
}
	.checkout {
    padding: 33px 27px 35px;
}
}

@media (max-width: 1280px){
	.content-header h1 {
    padding: 108px 118px;
}
	.content {
    width: 45%;
}
	.checkout {
    padding: 33px 27.5px 35px;
}
}

@media (max-width: 1080px){
	.content {
    width: 55%;
}
}

@media (max-width: 1024px){
	.checkout {
    padding: 33px 27px 35px;
}
}

@media (max-width: 991px){
	.checkout {
    padding: 33px 27.5px 35px;
}
	input[type="submit"] {
    margin: 11% 29% 0 0;
}
}

@media (max-width: 900px){
	.content {
    width: 60%;
}
	.content-header h1 {
    padding: 108px 114px;
}
}

@media (max-width: 800px){
	.content {
    width: 70%;
}
}

@media (max-width: 768px){
	.content {
    margin: 8% auto;
}
	.content-header h1 {
    padding: 108px;
}
}

@media (max-width: 736px){
	.content{
	height: 670px;
}
	.viewcart {
    padding: 28px;
}
	.checkout {
    padding: 28px 23px 32px;
}
	.content-header h1 {
    padding: 100px 90px 70px 111px;
}
	.content3 p {
    margin: -6% auto 0 38%;
}
}

@media (max-width: 667px){
	.content {
    width: 77%;
}
}

@media (max-width: 640px){
	.content {
    width: 83%;
    height: 675px;
}
	.checkout {
    padding: 28px 23.5px 32px;
}
}

@media (max-width: 600px){
	.content {
    width: 86%;
}
}

@media (max-width: 568px){
	.viewcart {
    padding: 30px 25px;
	width: 58%;
}
	.checkout {
    padding: 28px 16.5px 35px;
    width: 72%;
}
	.content-header h1 {
    padding: 100px 82px 100px 97px;
}
}

@media (max-width: 480px){
	.content{
	height: 645px;
}
	.content1-1 p {
    font-size: 14px;
}
	.viewcart {
    padding: 23px 30px;
}
	.checkout {
    padding: 24px 22.5px 29px;
}
	.content-header h1 {
    padding: 98px 10px 10px 81px;
}
	.content3 p {
    margin: -7% 1% 0 47%;
}
	.footer p {
    font-size: 15px;
}
}

@media (max-width: 414px) {
	.viewcart {
    padding: 18px 21px;
    width: 70%;
}
	.checkout {
    padding: 21px 14.5px 21px;
    width: 86%;
}
	.content-header h1 {
    padding: 85px 0 10px 59px;
}
	.content {
    height: 590px;
}
	.line-info {
    margin-left: 4%;
}
	.line-info p {
    font-size: 16px;
    width: 160%;
	margin: 23% 0 0 -44%;
}
	.item {
	margin: 0 30% 0 auto;
}
	.alert-close1 img {
    right: 4%;
}
	.alert-close2 img {
    right: 4%;
}
	.alert-close3 img {
    right: 4%;
}
	.content3 p {
    margin: -9% 1% 0 47%;
}
}

@media (max-width: 384px){
	.content-header h1 {
    padding: 85px 0 10px 52px;
}
	.viewcart {
    padding: 18px 15px;
    width: 85%;
}
	.line-info {
    margin-left: 6%;
}
	.line-info p {
    width: 210%;
    margin: 23% 0 0 -101%;
}
	.item {
    margin: 0 53% 0 auto;
}
	.alert-close1 img {
    right: 2%;
}
	.alert-close2 img {
    right: 2%;
}
	.alert-close3 img {
    right: 2%;
}
}

@media (max-width: 375px){
	.footer p {
    font-size: 16px;
}
	.checkout {
    padding: 21px 13px 23px;
    width: 90%;
}
}

@media (max-width: 320px){
	.content {
    width: 90%;
	height: 520px;
}	
	.content1-1 p {
    font-size: 13px;
}
	.viewcart {
    padding: 14px 18px;
}
	.checkout {
    padding: 15px 13px 17px;
    width: 100%;
}
	.content-header h1 {
    padding: 71px 0 0 42px;
    font-size: 35px;
}
	.line-info p {
    font-size: 15px;
    margin: 27% 0 0 -130%;
}
	.line-info{
	padding:0;
	margin-left: 13%;
}
	.item {
    margin: 0 70% 0 auto;
}
	.alert-close1 img {
    right: 1%;
	top: 26%;
}
	.alert-close2 img {
    right: 1%;
	top: 26%;
}
	.alert-close3 img {
    right: 1%;
	top: 26%;
}
	input[type="submit"] {
    margin: 17% 37% 0 0;
	width: 45%;
}
	.content3 p {
    font-size: 18px;
	margin: -10% 1% 0 50%;
}
	.footer p {
    font-size: 14px;
}
}
